img {
    max-width: 100%;
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 20px; /* Adds space below the image */
    border: 2px solid black; 
    border-radius: 8px; 
}

body > img {
    display: block;
    margin: 0 auto; 
}


h1 {
    text-align: center; 
    margin-bottom: 20px; 
    background-color: antiquewhite;
}
.outer-container { 
    
    max-width: 1600px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
}

.box6 {
    width: 150px; 
    height: 800px; 
    border: 2px solid red; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.right {
    display: flex;
    gap: 10px; 
}

.box7 {
    width: 150px; 
    height: 800px; 
    border: 2px solid red; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
} 




.middle-container {
    
    max-width: 800px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box1 {
    width: 450px;
    height: 200px;
    border: 2px solid red;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    
}


.second {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.box2 {
    width: 140.33px;
    height: 100px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third .box3 {
    width: 450px;
    height: 200px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.fourth {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 10px;
}

.box4 {
    width: 300px;
    height: 100px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box5 {
    width: 139.5px;
    height: 100px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}



